*.bbl
*.blg
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
.DS_Store
.venv/
*.nav
*.snm
*.toc
temp.txt
.cursorignore
.env
logs/
__pycache__/
.mypy_cache/
.pytest_cache/
.vscode/
*.ipynb_checkpoints/
*.Rhistory
data/backdoors/liu Terekhov backdoors.jsonl
.cursorignore
.ruff_cache/
*.json
*.eval
.RData
.Rhistory
